<h1 [ngStyle]="{color: headerColor}">
    Millions of bright red crabs shut down roads in Australia’s Christmas Island in mass migration
</h1>
<div class="container">
    <app-content
        *ngFor="let data of datalist"
        [data]="data"
        (clicked)="colorHeader($event)"
        [ngStyle]="{border: headerColor === data.color 
                            ? '1px solid ' + data.color
                            : '1px solid transparent',
                    'box-shadow': headerColor === data.color 
                            ? '8px 8px ' + data.color
                            : '8px 8px transparent',
                    'border-radius': '10px'}"
    ></app-content>
</div>